<!DOCTYPE html>
<html>
    <body>
        <p>Estimado Cliente</p>
        <p>La siguiente iniciativa se ha agendado:</p>
        Fecha: <b>{{ record.start_date.strftime('%d-%b-%Y') }}</b><br>
        Vendedor: <b>{{ record.salesman.party.name }}</b><br>
        Evento:<b> {{ record.description }}</b><br>
        <p>----------------------------------<br>
        <b> {{ record.create_uid.name }}</b><br>
        {{ record.employee.company.party.name }}<br>
        </p>
    </body>
</html>
